body {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 400;
}

li {
    display: block;
}

a {
    color: #B8BECD;
    text-decoration: none;
}

a:hover {
    color: #202336;
}

.container {
    width: 1600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

ul {
    display: flex;
    margin-right: 35px;
}

header {
    padding: 53px 191px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .links {
    display: flex;
    flex-direction: row;
    gap: 35px;
    font-weight: 400;
    font-size: 16px;
}

header .line {
    width: 32px;
    height: 2px;
    background: #202336;
    border-radius: 4px;
}

header nav {
    display: flex;
    align-items: center;
    flex-direction: row;
}

header .links .active {
    color: #202336;
}

header .buttons {
    display: flex;
    gap: 18px;
}

header .buttons_menu {
    width: 132px;
    height: 44px;
    border-radius: 8px;
    border: 1px solid #FB8F1D;
    background-color: #FFFFFF;
    color: #FB8F1D;
    font-size: 15px;
}

header .buttons_menu:hover {
    background-color: #FB8F1D;
    color: #FFFFFF;
}

main {
    width: 100%;
}

main .Explore_and_travel {
    width: calc(100% - 105px - 190px);
    margin-bottom: 175px;
    padding: 0 105px 0 190px;
    gap: 147px;
    display: flex;
}

main .Explore_and_travel div {
    flex-grow: 1;
}


main .explore_and_travel img {
    width: 687px;
    height: 654px;

}

main .Header_text {
    width: 356px;
    height: 160px;
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    color: #202336;

}

main .Pharagraph {
    width: 149px;
    height: 27px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #202336;

}

main .line {
    width: 32px;
    height: 2px;
    background: #202336;
    border-radius: 4px;
}

main .Options_menu {
    padding: 48px 0;
    display: flex;
    flex-wrap: wrap;
    row-gap: 35px;
    column-gap: 30px;
}

main .select {
    padding-left: 31px;
    flex: 30%;
    color: #4A4C53;
    box-sizing: border-box;
    height: 52px;
    border: 0.8px solid #AFB0B9;
    border-radius: 6px;
}

main .explore {
    width: 180px;
    height: 52px;
    border: 1px solid #FB8F1D;
    border-radius: 8px;
    background-color: #FFFFFF;
    color: #FB8F1D;
    /*font-size: 15px;*/

}

main .explore:hover {
    background: #FB8F1D;
    color: #FFFFFF;
}

main .way_to_explore {
    width: calc(100% - 105px - 141px);
    display: flex;
    padding: 111px 105px 129px 141px;
    background: #F8F8F8;
    gap: 102px;
    align-items: center;
}


main .new_way img {
    width: 659px;
    height: 534px;
}

main .header_text {
    width: 481px;
    height: 100px;
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #000000;
}

main .paragraph-text {
    width: 450px;
    height: 120px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    color: #7D7987;
}

main .learn-btn {
    color: #FFFFFF;
    font-size: 15px;
    width: 164px;
    height: 48px;
    background: #FB8F1D;
    border-radius: 8px;
    border: 1px solid #FB8F1D;
}

main .learn-btn:hover {
    color: #FFFFFF;
    background-color: #FB8F1D;
}

main .featured_destinations {
    width: calc(100% - 140px - 140px);
    display: flex;
    flex-direction: column;
    padding: 163px 140px 140px;
}

main .texts {
    display: flex;
    justify-content: space-between;
    padding: 163px 240px;
}

main .header-text {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #000000;

}

main .view-all {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
    display: flex;
    align-items: center;
    color: #FB8F1D;
}


main .Destinations {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

main .destination {
    position: relative;
}

main .destination img {
    border-radius: 8px;
    width: 260px;
}

main .destination .Name {

    background: #FFFFFF;
    border-radius: 0 6px 0 0;
    width: 120px;
    padding: 11px 22px 5px 0;
    position: absolute;
    bottom: 0;
}

main .destination .Name strong {
    display: block;
}

footer {
    width: calc(100% - 105px - 190px);
    background: #F8F8F8;
    display: flex;
    flex-direction: column;
    padding: 31px 105px 40px 190px;
}

footer .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

footer p {
    font-family: 'Mulish';
    font-weight: 300;
    font-size: 17px;
    line-height: 28px;
    color: #848484;
}

footer .line {
    width: 100%;
    height: 0.6px;
    background: #848484;
}

footer .links {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 35px;
}